.navv{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: #000000;
    position: sticky;
    color: white;
    top: 0;
    z-index: 10;
    
}

.navv:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(365deg, #29E7CD 96%, #FFFBFC 7% );
    transform: translate3d(0px, 0px, 0) scale(1);
    filter: blur(18px);
    opacity: var(0.78);
    transition: opacity 0.3s;
    border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.navv::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        
        
.flexdivleft img{
    cursor: pointer;
    width: px;
    gap: 5px;
}
.menu-icon{
    cursor: pointer;
    width: 35px;
    margin-right: 25px;
}
.logo{
    cursor: pointer;
    width: 130px;
}
.searchnav .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;

}
.searchnav .search-box .inputx{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
}
.searchnav .search-box .imgg{
    width: 15px;
    cursor: pointer;
}
.navright img{
    cursor: pointer;
    width: 25px;
    margin-right: 25px;
}
.navright .profile{
    cursor: pointer;
    border-radius: 50%;
    width: 35px;
}
@media (max-width:900px) {
    .menu-icon{display: none;
    }
    .navright img{
        display: none;
    }
    .navright .profile{
        display: block;
        width: 30px;
    }
    .logo{
        width: 80px;
    }
    .searchnav .search-box .inputx{
        width: 100px;
    }
}